body {
    background-color: black;
    color: antiquewhite;
    padding-bottom:60px;   /* Height of the footer */
}
.wip{
    color: red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    padding-top: 100px;
    justify-content: center;
        position:relative;
        bottom: 0px;
        width:100%;
        height: 60px;;   /* Height of the footer */
     }
